/* Ensure full height for background gradient */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000;
    font-family: Arial, sans-serif;
    
}

.logo-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    vertical-align: middle;
}

.logo2-icon {
    height: 200px;
    margin-top: 240px
}

.grid-layout {
    display: grid;
    grid-template-columns: 300px 1fr 300px;
    padding: auto;
    font-family: Arial, sans-serif;
}

.left-column {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 10px;
    border-radius: 20px;
    
}

.home-link, .projects-link, .blog-link, .quotes-link, .about-link {
    display: flex;
    align-items: center;
    height: 38px;
    width: 200px;
    color: #b6b6b6;
    background-color: #000000;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    margin: 15px 5px;
    box-shadow: #b6b6b6 0px 0px 15px;
    border-bottom-right-radius: 30px;
}

.center-column {
    margin-left: 250px;
    margin-right: 250px;
    align-items: center;
    padding: 30px 10px;
    border-radius: 20px;
}

.right-column {
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 30px 10px;
    border-radius: 20px;
    
}

button:hover {
    background-color: #b6b6b6;
    color: #111111;
    cursor: pointer;
}

h3 {
    color: #b6b6b6;
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}

p {
    color: #b6b6b6;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    margin-top: 10px;
}

ul {
    list-style-position: inside;
}

li {
    color: #b6b6b6;
    font-size: 15px;
    padding: 5px;
    text-align: left;
    margin-top: 30px;
    margin-left: 20px;
}