html, body {
    margin: 0;
    padding: 0;
}

.title {
    background-color: #111111;
    color: #b6b6b6;
    font-size: 30px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-shadow: #b6b6b6 10px 10px 20px;
    text-align: center;
    padding: 30px;
    position: relative; /* Position relative to allow absolute positioning of the pseudo element */
    z-index: -1;
    width: 15%;
    border-radius: 0% 100% 100% 0%; /* curves upward into page */
    overflow: hidden; /* Hide the overflow from the pseudo element */
}
