html, body {
    margin: 0;
    padding: 0;
}

.banner {
    width: 600px;
    height: auto;
    align-items: center;
    display: block;
    margin: 0 auto;
    z-index: 1;
    animation: logoPulse 4s ease-in-out infinite;
}

.navbar {
    background-color: #000000;
    padding: 20px;
}

.title {
    flex: 1; /* fills space between logo and right edge */
    text-align: center;
}

@keyframes logoPulse {
    0% {
    transform: scale(0.7);
    }
    50% {
    transform: scale(1);
    }
    100% {
    transform: scale(0.7);
    }
}